* {
  margin: 0;
  padding: 0;
  


}

.listitem ul {

  margin: 40px 40px 40px 40px;
}

.listitem li {
  display: inline;
  display: inline;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;

}

a {
  text-decoration: none;
  color: black;
}

.imagelogo {
  width: 80;
  height: 80;
  position: absolute;
  top: 15px;
  right: 650px;
}

.contact {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 2000;
  text-align: center;
}

.dis {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-left: 10px;
}

select {
  float: right;
  padding-right: 20px;
  margin-right: 40px;
  border: none;
}

h4 {
  margin-left: 40px;
}

table {
  border: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.last {
  border: 0;
  width: 100%;
  height: 59%;
  /* border: 1px solid red; */
  /* margin-top: -10px; */
  background-color: #F5F5F5;
  position: relative;
  top: 259px;
}

.lastimage {
  width: 90px;
  height: 90px;
  position: relative;
  left: 110px;
  top: 40px;
}

.lastpara {
margin: 49px 120px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;

}

.anch {

  margin: 10px 100px;
  padding-left: 30px;

}

.copy {
  font-family: 'Inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  margin-top: -5px;
  margin-left:-10px
}
.sp{
position: absolute;
top: 70px;
right: 209px;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;

}

.quiklink {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 75px;
  right: 100px
}
.quiklink a{
text-decoration: none;
color: rgb(0, 0, 0);
}

.button {
  border: none;
  color: #fff;
  background-color: #212121;
  text-decoration: none;
  width: 130px;
  height: 50px;
  /* margin-left: 40px; */
}